In [19]:
import pandas as pd 
import numpy as np
# Pandas has 2 main Data Structures wiz. Series(1-D list) and DataFrame(2-D df)
# collection of 1 or more "Series" makes a DataFrame

In [13]:
# Convert lists to DataFrame 

mylist = [["Apple", "Orange"],["Banana", "Yellow"],["Orange", "Orange"]]

df = pd.DataFrame(mylist)
df

# columns and rows given default values.

        0       1
0   Apple  Orange
1  Banana  Yellow
2  Orange  Orange

In [18]:
mylist = [["Apple", "Orange"],["Banana", "Yellow"],["Orange", "Orange"]]

df = pd.DataFrame(mylist, columns=["Fruit", "Colour"], index=[1,2,3]) 
df                     # naming columns and rows(indexes)

    Fruit  Colour
1   Apple  Orange
2  Banana  Yellow
3  Orange  Orange

In [26]:
# DataFrame using numpy array. 

list = np.array([[1,2],[3,4],[5,6]])
df1 = pd.DataFrame(list, columns=["odd", "even"], index=[1,2,3])
df1

   odd  even
1    1     2
2    3     4
3    5     6

In [ ]:
# DataFrame using Dictionary